
<header id="header">
  <a href="index.html" class="logo"><strong>Portfolio</strong> </a>
  <ul class="icons">
    
    <li><a href="https://www.instagram.com/axj_b/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://github.com/alexej-bohr" class="icon brands fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://www.linkedin.com/in/alexej-bohr-688364127" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    
  </ul>
</header>